
body {
    margin-top: 50px; 
    background: #fff;
}

.navbar-inverse {
    background-image: url("../img/capa2.jpg");
    background-repeat: repeat-x;

}
.menuCor {

    padding: 5%;
    background: #fff;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
    color: #000;
    background-color: #fff;
    opacity: 0.7;

}

.navbar-inverse .navbar-nav > li > a{
    color: blue;
}


.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}


.featurette-heading {
    font-size: 30px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {


    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }


    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {


    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }


    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {


    .featurette-divider {
        margin: 30px 0;
    }
}



@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

}
