{% extends "adminmenu.html" %}
{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='js/d3.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3plus.js')}}"></script>

        <div id="viz"></div>

<script>

var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $.getJSON($SCRIPT_ROOT + '/graficoInfo', {
	 }, function(data) {
	      var visualization = d3plus.viz()
            .container("#viz")
            .data(data)
            .type("bar")
            .id("name")
            .x("year")
            .y("alunos")
            .draw()
  });

</script>


{% endblock %}