{% extends "indexMenu.html" %}
{% block body %}


    <div class="container">
        <hr class="featurette-divider">

    {% for b in data %}
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="static/img/agafarma.jpg">
            <h2 class="featurette-heading"> {{ b.0 }}
                <span class="text-muted"> {{ b.1 }} </span>
            </h2>
            <p class="lead"> {{ b.2 }} </p>
        </div>
        <hr class="featurette-divider">
    {% endfor %}

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Mirian Falconi 2015</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
