<!DOCTYPE HTML>
<html lang="pt-br">
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
                 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/local.css') }}">
                    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='img/ico.jpg') }}" />
                    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
                <script type="text/javascript" src="{{ url_for('static' , filename='bootstrap/js/bootstrap.min.js')}}"></script>
            <meta name="description" content="Analista de Sistemas">
            <meta name="author" content="Mirian Falconi">
        <title>AESMI</title>
    {% block body %}
{% endblock %}